.card {
    border-radius: 1rem;
}

.mh-100 {
    background-color: #508bfc;
    background-size: 100% 100%;
}

.btn-block>btn-primary {
    background-color: #dd4b39;
}

.btn-primary>mb-2 {
    background-color: #3b5998;
}